forloops/greet_5a
forloops/greet_5a.o
forloops/greet_5a_reverse.o
forloops/greet_5a_reverse
whileloops/greet_5c.o
whileloops/greet_5c.ali
whileloops/greet_5c
check_direction/check_direction_updated.o
check_direction/check_direction_updated
